{:paths   ["src" "resources"]
 :deps    {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                      :sha     "b6b3193fcc42659d7e46ecd1884a228993441182"}
           org.clojure/clojure       {:mvn/version "1.10.3"}
           ring/ring-core            {:mvn/version "1.6.3"}
           ring/ring-jetty-adapter   {:mvn/version "1.6.3"}}
 :aliases {:test    {:extra-paths ["test"]
                     :main-opts   ["-m" "cognitect.test-runner"]}
           :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
                     :exec-fn      hf.depstar/uberjar
                     :exec-args    {:aot true}}}}
